php_value upload_max_filesize 2024M
php_value post_max_size 2024M
php_value max_execution_time 5200
php_value max_input_vars 6000
php_value memory_limit 2024M

RewriteEngine On 
RewriteRule ^$ public/index.php [L]
RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

