/* créer par MAHAMADOU ALI ABDOUL RAZAK +226 70147315 */
.btn-secondary,.btn-primary,.bg-secondary{
background-color:#010066 !important;
}
.table-hover-primary tbody tr:hover {
background-color: #6699FF ;
color: #1b1717;
cursor: pointer;
}

.navbar-menu .navbar-nav .nav-link.active {
color: #ffffff !important;
background-color: #6699FF !important;
}
.sidebar-background {
background-color: #010066 !important;
opacity: 1 !important;
}
.navbar-menu .navbar-nav .nav-link {
color: #fff !important;
}

.table-hover-primary tbody tr:hover .text-body {
color: rgb(12, 11, 11) !important;
}

.navbar-header {
height: 50px !important;
}
.header-item {
height: 50px !important;
}

.form-control-custom {

background-color: #e1e1e1 !important;
}

.table-responsive table td {
max-width: 80px !important;
overflow: hidden !important;
text-overflow: ellipsis !important;
white-space: nowrap !important;
}
.table-responsive table #Lcol {
max-width: 150px !important;
}
.table-responsive table #colState
 {
    max-width:100px !important;
}

.table-hover.table-hover-primary tbody tr:hover {
background-color: #6699FF !important;
}
.cdtnonactiveontable{
--vz-table-bg-type: #dadeec !important; 
}
/* ROJO */
/* Taille du tableau */
.table-responsive {
    max-height:520px  !important;
    overflow-y: auto !important; 
}

.nav-tabs-custom {
    display: flex !important;
    position: relative !important;
    padding-left: 0 !important; 
    list-style: none !important; 
    margin-bottom: 1rem !important; 
}

.nav-tabs-custom .nav-item {
    margin-bottom: -1px !important;
}

.nav-tabs-custom .nav-link {
    border: 1px solid #0d6efd !important;
    border-bottom: none !important; 
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    color: #495057 !important;
    padding: 0.5rem 1rem !important;
    margin-right: -1px !important; 
    background-color: #f8f9fa !important; 
    position: relative !important;
    z-index: 1 !important; 
}

.nav-tabs-custom .nav-link.active {
    color: #ffffff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd #0d6efd transparent !important; 
    font-weight: bold !important;
    z-index: 2 !important; 
    top: 0 !important; 
}

.nav-tabs-custom .nav-link:hover {
    border-color: #0d6efd !important; 
}

.nav-tabs-custom::before {
    content: "" !important;
    position: absolute !important;
    bottom:-2px !important;
    left: 0 !important;
    width: 100% !important;
    height: 1px !important; 
    background-color: #0d6efd !important; 
    z-index: 0 !important; 
}
.table-info {
    --vz-table-striped-bg: #00a2ff !important;
    --vz-table-hover-bg: #3d78e3!important;
  }