.navbar-menu .navbar-nav .nav-link.active {
color: #ffffff !important;
background-color: #6699FF !important;
}
.sidebar-background {
background-color: #203E75 !important;
opacity: 1 !important;
}
.navbar-menu .navbar-nav .nav-link {
color: #fff !important;
}
