/* créer par MAHAMADOU ALI ABDOUL RAZAK +226 70147315 */
.btn-secondary,.btn-primary,.bg-secondary{
background-color:#010066 !important;
}
.table-hover-primary tbody tr:hover {
background-color: #6699FF ;
color: #1b1717;
cursor: pointer;
}

.navbar-menu .navbar-nav .nav-link.active {
color: #ffffff !important;
background-color: #6699FF !important;
}
.sidebar-background {
background-color: #010066 !important;
opacity: 1 !important;
}
.navbar-menu .navbar-nav .nav-link {
color: #fff !important;
}

.table-hover-primary tbody tr:hover .text-body {
color: rgb(12, 11, 11) !important;
}

.navbar-header {
height: 50px !important;
}
.header-item {
height: 50px !important;
}

.form-control-custom {

background-color: #e1e1e1 !important;
}

.table-responsive table td {
max-width: 80px !important;
overflow: hidden !important;
text-overflow: ellipsis !important;
white-space: nowrap !important;
}
.table-hover.table-hover-primary tbody tr:hover {
background-color: #6699FF !important;
}
.cdtnonactiveontable{
--vz-table-bg-type: #dadeec !important; 
}
/* ROJO */
/* Taille du tableau */
.table-responsive {
    max-height:520px ;
    overflow-y: auto; 
}

.nav-tabs-custom {
    display: flex;
    position: relative;
    padding-left: 0; /* Ensure no left padding on the list */
    list-style: none; /* Remove default list styling */
    margin-bottom: 1rem; /* Space below the tabs */
}

.nav-tabs-custom .nav-item {
    margin-bottom: -1px;
}

.nav-tabs-custom .nav-link {
    border: 1px solid #0d6efd; /* Blue border */
    border-bottom: none; /* Remove the bottom border initially */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #495057;
    padding: 0.5rem 1rem;
    margin-right: -1px; /* Prevent double border between items */
    background-color: #f8f9fa; /* Background color to match the tabs */
    position: relative;
    z-index: 1; /* Ensure tabs are above the bottom border */
}

.nav-tabs-custom .nav-link.active {
    color: #ffffff !important;
    background-color: #0d6efd;
    border-color: #0d6efd #0d6efd transparent; /* Maintain blue borders, but remove bottom border */
    font-weight: bold;
    z-index: 2; /* Bring active tab to the front */
    top: 0; /* Ensure active tab is properly aligned */
}

.nav-tabs-custom .nav-link:hover {
    border-color: #0d6efd; /* Blue border on hover */
}

.nav-tabs-custom::before {
    content: "";
    position: absolute;
    bottom:-2px; /* Position at the bottom */
    left: 0;
    width: 100%;
    height: 1px; /* Adjust height to create a border effect */
    background-color: #0d6efd; /* Blue color for bottom border */
    z-index: 0; /* Ensure it is behind the tabs */
}